* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

/* header and navigation styles */

body {
    background-image: url("../images/banner/banner3.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 1600px;
    height: 580px;
}

nav {
    margin-left: 1000px;
    text-align: right;
    padding-right: 150px;

}

.nav-title {
    font-weight: 700;
    font-size: 65px;
    color: #FFFFFF;
    margin-top: 230px;
    padding-bottom: 50px;
}

.nav-sub-title {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    padding-bottom: 50px;
}

button {
    width: 160px;
    height: 64px;
    border-radius: 20px;
}

.btn-title {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
}

/* failure section styles */

.banner{
    margin-top: 110px;
    padding-left: 200px;
    display: flex;
    align-items: center;
    background-color: #151414;
}

.banner-sub-title{
    padding-top: 300px;
    padding-left: 50px;
}

.banner-title {
    width: 288px;
    height: 94px;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 30px;
    color:#005FAC
}

.banner-description {
    width: 416px;
    height: 104px;
    font-weight: 400;
    font-size: 16px;
    color:#4076a1
}

ul {
    width: 349px;
    height: 162px;
    font-weight: 400;
    font-size: 16px;
    color: #4076a1
}

ul li {
    list-style: none;
}


/* my plan */

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-top: 100px;
    margin-bottom: 50px;
    color: #151414;
}

.plan-container {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 50px 200px;
}


.plan-title{
    font-weight: 700;
    font-size: 30px;
}

.plan-sub-title{
    font-weight: 500;
    font-size: 25px;
    color: #737272
}


